.push {
	animation: 1s ease-in 1 forwards push;
}

.pop {
	animation: 1s cubic-bezier(0.1, 0.95, 0.38, 1.05) 1 forwards pop;
}

@keyframes push {
	0% {
		transform: translateY(-100%);
	}
	30% {
		transform: translateY(550%);
	}
	50% {
		transform: translateY(500%);
	}
	65% {
		transform: translateY(550%);
	}
	100% {
		transform: translateY(550%);
	}
}

@keyframes pop {
	0% {
		transform: translateY(550%);
	}
	20% {
		transform: translateY(570%);
	}
	100% {
		transform: translateY(-100%);
	}
}

.goto-wep {
	transform: translate(-188%, 550%);
	animation: 1.3s ease-in-out 1 forwards gotowep;
}

@keyframes gotowep {
	from {
		transform: translate(-188%, 550%);
	}
	to {
		transform: translate(0, 550%);
	}
}
