.push {
	animation: 1s ease-in 1 forwards push;
}

.pop {
	animation: 1s cubic-bezier(0.1, 0.95, 0.38, 1.05) 1 forwards pop;
}

@keyframes push {
	0% {
		transform: translateY(-100%);
	}
	40% {
		transform: translateY(580%);
	}
	50% {
		transform: translateY(520%);
	}
	65%,
	100% {
		transform: translateY(580%);
	}
}

@keyframes pop {
	0% {
		transform: translateY(580%);
	}
	20% {
		transform: translateY(620%);
	}
	100% {
		transform: translateY(-100%);
	}
}

.goto-web {
	transform: translate(-128%, 580%);
	animation: 1.3s ease-in-out 1 forwards gotoweb;
}

@keyframes gotoweb {
	from {
		transform: translate(-128%, 580%);
	}
	to {
		transform: translate(0, 500%);
	}
}

.goto-micro {
	transform: translate(20%, -300%);
	animation: 1.5s ease-in-out 1 forwards gotoMicro;
}

.goto-task-queue {
	transform: translate(20%, -640%);
	animation: 1.5s ease-in-out 1 forwards gotoMacro;
}

@keyframes gotoMicro {
	0% {
		transform: translate(20%, -300%);
	}
	33% {
		transform: translate(120%, -320%);
	}
	66% {
		transform: translate(120%, 50%);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes gotoMacro {
	0% {
		transform: translate(20%, -640%);
	}
	33% {
		transform: translate(120%, -660%);
	}
	66% {
		transform: translate(120%, 60%);
	}
	100% {
		transform: translate(0, 0);
	}
}

.excute {
	animation: 1.5s ease-in-out 1 forwards excute;
}

@keyframes excute {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

.from-micro-goto-call-stack {
	transform: translate(0, 0);
	animation: 1.5s ease-in-out 1 forwards fromMicroGotoCallStack;
}

.from-task-queue-goto-call-stack {
	transform: translate(0, 0);
	animation: 1.5s ease-in-out 1 forwards fromTaskQueueGotoCallStack;
}

@keyframes fromMicroGotoCallStack {
	0% {
		transform: translate(0, 0);
		opacity: 100%;
	}
	50% {
		transform: translate(-120%, 50%);
	}
	70% {
		opacity: 100%;
	}
	100% {
		transform: translate(-115%, -340%);
		opacity: 0;
	}
}

@keyframes fromTaskQueueGotoCallStack {
	0% {
		transform: translate(0, 0);
		opacity: 100%;
	}
	50% {
		transform: translate(-120%, 50%);
	}
	70% {
		opacity: 100%;
	}
	100% {
		transform: translate(-120%, -630%);
		opacity: 0;
	}
}
.event-loop-push {
	transform: translateY(550%);
}
