.push {
	animation: 1s ease-in 1 forwards push;
}

.pop {
	animation: 1s cubic-bezier(0.1, 0.95, 0.38, 1.05) 1 forwards pop;
}

@keyframes push {
	0% {
		transform: translateY(0%);
	}
	30% {
		transform: translateY(560%);
	}
	50% {
		transform: translateY(500%);
	}
	65% {
		transform: translateY(560%);
	}
	100% {
		transform: translateY(560%);
	}
}

@keyframes pop {
	0% {
		transform: translateY(560%);
	}
	20% {
		transform: translateY(570%);
	}
	100% {
		transform: translateY(0%);
	}
}
