textarea {
	font-family: inherit;
	resize: none;
	border: var(--main-border);
	border-radius: var(--main-border-radius);
	font-size: 16px;
	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar-thumb {
		background: var(--main-background-color); /* 스크롤바 막대 색상 */
		border: 2px solid var(--event-loop-color); /* 스크롤바 막대 테두리 설정  */
		border-radius: 12px 12px 12px 12px;
	}
}

.code-wrap {
	height: 100%;
	width: 40%;
	border-right: 2px dashed white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 20px;
}

.code__input {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: var(--main-border);
	border-width: 2px;
	border-radius: var(--main-border-radius);
	padding: var(--items-padding);
	width: 70%;
	height: 30%;

	& > textarea {
		padding: 8px;
		outline: none;
		color: var(--event-loop-color);
		width: 100%;
		height: 90%;
		background-color: var(--main-background-color);
		&::placeholder {
			font-size: 16px;
			color: var(--event-loop-color);
		}
	}
}

.code__input__excute {
	width: 70px;
	height: 30px;
	border-radius: var(--main-border-radius);
	box-shadow: 5px 5px 3px #000;
	border: none;
	font-weight: 700;
	transition: all 0.3s ease-in-out;
	&:hover {
		background-color: #000;
		color: var(--main-font-color);
		box-shadow: 0px 0px 0px #000;
	}
}

.code__excute {
	padding: var(--items-padding);
	width: 70%;
	height: 30%;
	background-color: var(--black);
	color: white;
	&::-webkit-scrollbar-thumb {
		background: var(--black);
		border: 2px solid var(--main-font-color);
		border-radius: 12px 12px 12px 12px;
	}
}

.code__input__btn {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.code__input__code-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	& > button {
		width: 20px;
		height: 20px;
		border-radius: 10px;
		margin-left: 5px;
		&:first-child {
			background-color: var(--call-stack-color);
			box-shadow: 1px 1px 1px var(--call-stack-color);
		}
		&:nth-of-type(2) {
			background-color: var(--wap-api-color);
			box-shadow: 1px 1px 1px var(--wap-api-color);
		}
	}
}
